{% include 'header.html' %}

    <div class="container" role="main">
        <div class="page-header">
            <h1>Om mig</h1>
        </div>
        <p>Mitt namn är {{ name }}, men är mest känd som Andy bland mina kompisar.
        Jag är {{ age }}. Ursprungligen kommer jag från en liten stad i Skåne som jag älskar,
        men för att kunna plugga webbprogrammering i Karlskrona så har jag
        flyttat till {{ address }}. Det är inte optimalt - tar mig cirka 40
        minuter att ta mig till skolan. Som tur är har jag bil, men jag
        hoppas få en lägenhet närmre snart.</p>

        <p>Jag har tidigare jobbat en hel del med HTML, CSS och Javascript. Och
        dessutom lekt lite med PHP och design av webbsidor. Förutom kodningen
        så tycker jag det är kul att skapa och redigera bilder i Photoshop för
        webbplatsen man jobbar med. Photoshop har jag hållt på med sen jag var
        kanske 12 år bara för att det är kul. Webbprogrammering började jag
        inte med förrän sista året i gymnasiet. Det var någonting jag länge
        varit sugen på att testa, och fick möjlighet att välja det som kurs
        i tredje året. Efter det har jag inte kunnat sluta. ;)</p>

        <p>När jag inte pluggar så håller jag ofta på med webbsidor ändå. Men
        det är ofta Wordpress som gäller då, bara för att det ska vara
        enkelt och snabbt. Annars är jag en ganska stor gamer, har spelat
        datorspel sen jag var yngre än 10. TV serier brukar också ta upp en
        stor del av min tid. Men jag har också stort intresse för flygplan
        och astronomi. Astronomi har kommit på senare år men jag har älskat
        flygplan och att flyga sedan jag var jätteliten. Hoppas att en dag
        kunna ta privat flygcertifikat i min hemstad.</p>

    </div>

{% include 'footer.html' %}
