{% include 'header.html' %}

    <div class="container" role="main">
        <div class="page-header">
            <h1>Bondgård</h1>
        </div>
        <h3>Tabeller</h3>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav">
                <li><a href="humans">Humans</a></li>
                <li><a href="animals">Animals</a></li>
                <li><a href="vehicles">Vehicles</a></li>
            </ul>
        </div>
    </div>

{% include 'footer.html' %}
