{% include 'header.html' %}

    <div class="container" role="main">
        <div class="page-header">
            <h1>Hem</h1>
        </div>
        <p>Hej där! Du har kommit till en sida gjort för kursen oopython på Blekinge
          Tekniska Högskola. Sidan är gjort med hjälp av flask och bootstrap,
          och denna version tillhör André Johansson.</p>
          <h4>Om kursen</h4>
          <p>Kursen är oopython och det är till den som den här webbplatsen är skapad.
          oopython är en förkortning för Objektorienterad design och programmering med
          Python. Den lär ut objektorienterad analys och design tillsammans med
          objektorienterad programmering med Python.</p>
          <p>Kursen använder sig till stor del av webbaserade teknologier och programmen
          som skapas publiceras på en webbserver.</p>
          <h4>Innehåll</h4>
          <ul>
              <li>Objektorienterade programmeringstekniker i Python.</li>
              <li>Objektorienterad analys och design med UML.</li>
              <li>Objektorienterade programmeringskonstruktioner.</li>
              <li>Webbaserade teknologier för att bygga webbtjänster med Python.</li>
              <li>Utvecklingsmiljö och verktyg för programvaruutveckling med Python samt publicera kod på en driftserver och visa resultat via webbsidor.</li>
          </ul>

    </div>

{% include 'footer.html' %}
