{% include 'header.html' %}

    <div class="container" role="main">
        <div class="page-header">
            <h1>Min Redovisnings-sida</h1>
        </div>
        <h2>Kmom01</h2>

        <h4>Vilken utvecklingsmiljö använder du?</h4>

        <p>Jag sitter på en laptop med Windows 10 och använder då Cygwin
        som terminal. Python3 och Flask är såklart installerade. Min text editor
        är Atom och Chrome, Firefox och Firefox Dev används som webbläsare.</p>

        <h4>Var det några problem med att installera Flask?</h4>

        <p>Nope, det gick hur bra som helst. Dock har jag inte brytt mig om att
        få det att fungera med XAMPP, då det känns mycket lättare att bara köra
        på den integrerade webbservern lokalt.</p>

        <h4>Är du bekant med objekt och klasser sedan tidigare?</h4>

        <p>Vi fick ju testa på objekt en del i JS-kursen men annars är jag
        inte speciellt bekant med dem. Klasser är helt nytt för mig förutom
        att jag har sett det lite här och där i PHP kod. I labben kändes allting
        helt nytt, men det var hyfsat enkelt att sätta sig in i det nu när vi
        redan kört igenom några programmeringskurser.</p>

        <h4>Har du någon erfarenhet av Bootstrap sedan tidigare?</h4>

        <p>Inte direkt. Jag känner till det och vet vad det är sedan tidigare,
        men har aldrig faktiskt använt det. Har länge viljat testa på det dock
        så det blir kul att leka med.</p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Kändes ju lite större än första kursmomentet i linux-kursen, men
        det var ett bra första kursmoment och det kändes lagom. Det var lätt att
        komma igång med det, men labben tog sin lilla tid. Tyckte det var hyfsat
        svårt att sätta sig in i tänket med klasser och objekt och hur de fungerar.
        Men det löste ju sig till sist och nu har jag fått en riktigt bra
        introduktion till klasser och objekt i Python. Och det är ju precis så
        det ska vara. Flask var också kul att komma igång med. </p>

        <h4>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h4>

        <p>Artiklarna och övningarna var väldigt bra som vanligt. Har inte fått boken
        än så har inga kommentarer på den, men den verkar bra så jag ser fram emot
        att läsa den. Jag hade inget riktigt behöv av videorna i just detta kursmoment
        då Andreas gick igenom allting så bra på genomgången, men det verkar helt
        klart som en bra videoserie som jag kommer ta användning av senare.</p>

        <h2>Kmom02</h2>

        <h4>Är du bekant med UML sedan tidigare?</h4>

        <p>Nej, hade ingen aning om att existerade över huvud taget. Så det
        var mycket nytt i detta kursmoment. Men tycker det kan absolut vara
        användbart till större projekt.</p>

        <h4>Är du bekant med unittester sedan tidigare?</h4>

        <p>Detta var också helt nytt för mig. Men ett bra sätt att
        testa sin kod på.</p>

        <h4>Vad gjorde du för uppdatering på me-sidan?</h4>

        <p>Jag gjorde bara några mindre ändringar då det inte blev mycket tid
        till att greja med detta också efter de 4 andra uppgifterna. Men jag ändrade
        navbaren lite så länkarna ligger till höger och skapade en footer längst
        nere på alla sidor. Plus, jag ändrade storlek på bilden på förstasidan.
        Hade gärna lekt runt mer men som sagt så blir det inte mycket tid när det
        är så mycket annat som ska göras.</p>

        <h4>Kan du se nyttan med UML och tester inom ramen för ett projekt?</h4>

        <p>Ja, absolut. Speciellt om man är flera stycken som jobbar på ett
        projekt. Dock behöver man kanske inte lägga jättemycket tid och kraft
        på UML. Håll det enkelt. Klassdiagram kändes bra och lätta. Sekvensdiagram
        kändes bara onödigt krångliga. <br><br>

        Tester kan speciellt vara bra för större projekt, då man kanske inte behöver testa
        manuellt vilket kan spara den del tid.</p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Det var mycket att ta in och mycket att göra. Men främst mycket att
        ta in, lära sig och förstå. Vilket gjorde det svårt att komma igång med
        uppgiften. Men när jag hade läst igenom kursmaterialet och övningarna några
        gånger och kom igång med uppgifterna så flöt det på ganska bra. Kändes
        dock tufft och stort för att vara kmom02.</p>

        <h4>Gjorde du extrauppgiften?</h4>

        <p>Nope.</p>

        <h4>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h4>

        <p>Brukar ta mig till BTH's artiklar och övningar då de är specifika för
        kursmomentet och uppgifterna. Videorna uppskattade jag också då de gav en
        lite bättre förklaring till klassdiagram och sekvensdiagram.</p>

        <h2>Kmom03</h2>

        <h4>Vad tyckte du om Jinja2?</h4>

        <p>Verkar ju kanon! Mer dynamik är ju alltid bra! ;) Plus
        att koden blir mer DRY när man har möjligheten att dela upp
        koden i flera filer och inkludera dem som i PHP. Dock tror jag
        att vi bara skrapat lite på ytan när det gäller Jinja, så ser
        fram emot att testa på det mer.</p>

        <h4>Vad tyckte du om strukturen på Flask-appen?</h4>

        <p>Mycket bättre nu när vi inkluderar headern och footern från egna
        filer. Strukturen känns ju bekant då det är ungefär så vi struktuerade
        PHP-projektet - så det känns bra helt enkelt. Men data uppgiften kändes
        lite konstigt då vi skulle ett objekt för länkarna. Det var lite klurigt
        att få det att funka korrekt på studentservern. Eller rättare sagt, det
        var klurigt att få det att fungera på både localhost och studentservern.
        På studentservern kan man inte använda "/" innan strängen, och det gick
        inte att använda url_for eftersom länkarna skulle hämtas från data-klassen.
        Det kanske bara var jag som inte fattade det, men det kändes onödigt jobbigt
        att hämta länkarna från objektet istället för att bara använda url_for i
        html-filerna. :s</p>

        <h4>Gick det bra med autogenereringen?</h4>

        <p>Hade lite problem med pyreverse som klagade på att pkg_resources
        saknades. Tog en hel del googlande innan jag fick det att fungera.
        Det kan vara värt att nämna att jag sitter på en helt ny dator, så
        det kanske var det som var problemet. Men var tvungen att köra
        setup scriptet för setuptools som jag hittade på StackOverflow
        (wget https://bootstrap.pypa.io/ez_setup.py -O - | python).
        Därefter gick det bra.</p>

        <h4>Gjorde du någon extrauppgift på Black Jacken?</h4>

        <p>Tyvärr fick jag ingen tid till detta. För mig tog det ganska
        lång tid att bara göra själva spelet. Gjorde dock klassdiagram och
        dokumentation för spelet.</p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Det var lätt att komma igång med person-objekt och data-objekt för
        me-sidan. Var inga problem alls och gick hur smidigt som helst. Dock
        satt jag fast med Blackjack spelet ganska länge. Det som tog så lång
        tid var att försöka få koden DRY. Detta gjorde jag med hjälp av listor
        och dictionaries - men det känns som det blev ganska komplicerad kod då,
        många listor/dicts och få metoder/funktioner. Inte så läsbar kod alltså,
        så jag är inte helt nöjd med den. Dock kul att spela när det fungerar!
        Kursmomentet i allmänhet kändes helt lagom. Två mindre uppgifter och sen
        en större uppgift. Perfekt!</p>

        <h4>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h4>

        <p>I detta kursmoment hade vi ju inget kursmaterial förutom dbwebbs
        artiklar. Så får ju säga att jag uppskattade de artiklarna mest, då de
        fanns där och hjälpte att komma igång med kursmometet.</p>

        <h2>Kmom04</h2>

        <h4>Gjorde du extrauppgiften?</h4>

        <p>Nej, jag håller mig hellre till tidsplanen.</p>

        <h4>Var det svårt att komma igång med regex?</h4>

        <p>Jag måste erkänna att jag hade riktigt svårt för regex. Det var många
        regler och karaktärer att hålla reda på. Och det kändes som varje gång
        jag trodde jag hade koll på det, så fick jag inte matchningen som jag
        förväntat mig. Det hjälpte inte att det var en del otydligheter i labben.
        Till exempel hittade jag duplicate lines i irc-loggen och ibland kändes
        det som att facit inte stämde helt överräns med vad uppgiften sa. I sista
        uppgiften skrivs facit ut MED newlines, men mitt svar visades med "\n".
        Det skapade ju viss förvirring då hella uppgiften gick ut på att lägga
        strängarna på olika rader. I allmänhet kändes labben flummig och för mig
        tog den längre tid än alla andra uppgifter gemensamt (i båda kurserna!).</p>

        <h4>Kan du se nyttan och kraften med regex?</h4>

        <p>Även om jag vid detta laget inte är speciellt förtjust i regex så
        kan jag absolut se nyttan av det - och att det är en kraftfullt verktyg.</p>

        <h4>Var det svårt att komma igång med SQLAlchemy?</h4>

        <p>Inte alls - det gick smidigt och bra. Vi är ju redan bekanta med
        SQLite Manager vilket gjorde det lättare att komma igång. Dessutom var
        artiklarna väldigt tydliga och förklarade precis hur man kunde göra.
        Ett riktigt bra verktyg som var kul och enkelt att jobba med. </p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Som sagt så hade jag svårt för regex och det tog därför väldigt lång
        tid att riktigt komma igång med kursmomentet. Dock känns det som det var
        huvudsakligen mitt eget fel då jag inte kunde greppa regex. För någon som
        kanske inte har så svårt för regex tror jag det hade varit ett lagom
        kursmoment. Personligen satt jag med labben väldigt länge men uppgifterna
        med databasen gick snabbt och lätt så det jämnade väl ut sig till sist.</p>

        <h4>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h4>

        <p>Främst videoserien och artiklarna var till stor hjälp. Och om man även
        kan nämna regex101 så var det ett super bra hjälpmedel som jag inte hade
        klarat mig utan.</p>

        <h2>Kmom05</h2>

        <h4>Vad gjorde du för uppdatering av me-sidan?</h4>

        <p>Det först ajag gjorde var att lägga in en flash bild på alla sidor.
        Jag använder klassen row och img-responsive från boostrap för att få det
        att se bra ut. På flash bilden i vänster sida la jag in dagens datum
        som kommer från en variabel som skickas med i routen.
        <br><br>
        Det andra jag gjorde var att leka runt med Message Flashing. När användaren
        lägger till eller tar bort något från en tabell så visas ett grönt meddelande
        under den aktuella tabellen som säger att ändringen lyckades. Detta gör jag
        med flash() och get_flashed_messages(). Och för styling använde jag mig av
        bootstrap's alert-success klass.
        <br><br>
        Det blev kanske inga jättestora uppdateringar men jag fördjupade mig lite
        flask och bootstrap och tog användning av det jag lärde mig.</p>

        <h4>Har du fått mer förståelse för datastrukturer?</h4>

        <p>Absolut. Det var speciellt interessant att lära sig om Queue och Stack.
        Men uppgiften i allmänhet gav mig mycket mer förståelse för datastrukturer,
        och sättet man tänker med dem. Dock finns det säkert mycket mer att lära
        sig inom detta.</p>

        <h4>Gick det bra att komma igång med rekursion? </h4>

        <p>Hade inga problem alls med rekursion. Visst, det tog ett litet tag att
        greppa det, men när man väl var igång men det tänkandet (och försökte
        hålla det relativt simpelt), så gick det riktigt smidigt och bra. Det
        var också kul att se hur ren och fin koden blev med rekursiva funktioner -
        man känner ju sig nästan stolt när man kollar på koden!</p>

        <h4>Känner du att du har förståelse för hur sorteringsalgoritmerna fungerar? </h4>

        <p>Ja, efter detta kursmoment så har jag absolut fått den föreståelsen.
        Det är tack vare bra artiklar, övningar, filmklipp och uppgift. Allting
        var tydligt och hjälpte mig att få bra koll på gruden av sorteringsalgoritmer.</p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Det kändes helt legom denna gången. Det var lite klurigt att komma igång med
        sorteringsuppgiften och jag fick gå igenom all kod några gånger innan jag
        förstod hur jag kunde ta mig framåt. Men sedan gick det riktigt bra. Gjorde
        även extrauppgiften "orderedlist". Det gällde bara att lägga in bubble sort
        i add-metoden, och så sorterar den listan automatiskt. Kändes riktigt coolt.
        <br><br>
        Dock känns det som att flask-uppgiften bara finns där för att vi ska ha
        någon liten koppling till webben. Hade gärna haft fler specifika uppgifter
        för vår flask, istället för bara "valfri uppdatering". Kmom04 var bra på
        så sätt, med tabellerna. Men när det inte mycket fokus på flask i de
        flesta uppgifter så finns det inte mycket motivering till att komma på
        något intressant att göra.
        <br><br>
        Men i allmänhet var det ett mycket bra, intressant och lärorikt kursmoment.
        </p>

        <h4>Vilken del av kursmaterialet (böcker, artiklar, videor, etc) uppskattade du mest?</h4>

        <p>Videona som förklarade de olika sorteringsalgoritmerna var speciellt
        bra. Artiklarna var lite mindre användbara tyckte jag men de hjälpte ändå
        mig med vissa bitar.</p>

        <h2>Kmom06</h2>

        <h4>Gick det bra att hantera många klasser?</h4>

        <p>Det var inga problem alls - det blev ju inte så många ändå och de
        var uppdelade på en logiskt sätt vilket gjorde det enkelt att hantera.
        Och klassdiagrammet gjorde det lätt att komma igång. Jag började med att
        skapa alla klasserna och fyllde på dem med tomma attribut och metoder.
        Sedan krävdes lite planering för att komma igång med kodandet. Man fick
        ju tänka på vad som skulle användas var, och hur det skulle komma till
        main-filen. Men det gick bra. Kändes bra att gå in med en plan istället
        för att bara börja koda. </p>

        <h4>Vad gjorde du för uppdateringar av me-sidan?</h4>

        <p>Jag spenderade min tid på att fördjupa mig i olika teman, hur man
        kan skapa egna eller ladda ner existerande och modifiera dem. Använde
        huvudsakligen Bootswatch till hjälp. Lekte runt med LESS och installerade
        kommandot grunt i terminalen för att bygga CSS filerna. Annars gjorde
        jag ingen större uppdatering av min sida. När jag hade lekt klart så
        bestämde jag mig för att köra på ett gratistema från Bootswatch. Så en
        mindre uppdatering men lärde mig ändå en del.</p>

        <h4>Kunde du använda kunskaper från förra Python-kursen?</h4>

        <p>Klart, vi lärde ju oss grunderna i Python i den förra kursen så
        det är naturligt att man använder de kunskaperna här. Men mer specifikt
        så tog jag användning av menyn som vi skapade till marvin-uppgifterna
        i förra kursen. Kopierade den till min main-fil och gjorde om den så
        det fungerade med uppgiften. Sparade mig lite tid iallafall. </p>

        <h4>Gick det bra att komma i gång med kursmomentet, var det lagom, för litet, för stort?</h4>

        <p>Ja det gick ganska bra. Lättare än vad jag trodde faktiskt. Det var kul
        att få använda kunskaper från tidigare kursmoment för att skapa allt till
        denna uppgift från scratch. Kände att jag hade riktigt bra koll på koden
        jag skrev och klasserna, så känner mig nöjd med det. Och på så sätt var det
        också ett bra och roligt kursmoment. Dock tycker jag fortfarande inte om
        "fri uppdatering" till flask. Det är väldigt svårt att veta vad man ska göra
        och vad som förväntas av en.</p>

        <h2>Kmom07/10</h2>

        <h4>Vad fick dig att välja det här projektet?</h4>

        <p>Jag valde att göra projektet "Red Pill" för att, ja, det handlar
        om superhjältar vilket jag tycker är kul. Speciellt när man har chansen
        att göra ett skript där de slåss mot skurkar på uppdrag! Dessutom
        kändes det ganska öppet och jag tänkte att jag kunde riktigt testa mig
        själv och vad jag lärt mig under kursens gång. Plus, genomgången visade
        bara exempel på hur "Red Pill" kunde se ut som gjorde att jag kände
        mig säkrare med det. "Blue Pill" verkade mycket mer specifikt med vad som
        skulle göras och hur, och direkt kände jag att det inte var för mig.</p>

        <h4>Krav 1</h4>

        <p>Majoriteten av projektet ligger i detta kravet och det hör ganska mycket
        ihop med krav 2, då man inte kan göra krav 1 utan krav 2. Inte om man vill
        testa vad man gör i alla fall. Så det kändes lite udda men det gjorde
        det också väldigt fritt då man bara kunde jobba på hur man ville.<br><br>
        Jag valde att skapa fyra "huvudklasser", en controller klass och en
        liten dataklass. De fyra klasserna är "Heroes", "Villains", "Missions",
        "Results". Controller klassen pratar med alla klasserna och det är bara
        den som används i app.py. Dataklassen innehåller i slutet bara titel för
        varje sida på webbplatsen. Jag utgick från hur jag gjorde med bondgården
        i kursmoment 4 och anpassade det och utvecklade det vidare. Det
        blev lite lättare då att komma igång, speciellt med hur man lägger till
        och tar bort hjältar/skurkar. Jag använder POST/GET för att skapa/redigera/ta bort
        objekt precis som i Kmom04. Varje karaktär kan editeras på hemsidan direkt
        utan att behöva ta bort dem eller liknande. Man klickar på "Edit" för att
        komma till en egen html-sida med redan ifyllt table för karaktärens värden.
        Dessa värden kan ändras och sparas.<br><br>
        När uppdrag skapas på hemsidan slumpas det fram vilka skurkar som ska
        finnas på uppdraget, hur många de är och i vilken ordning de kommer i.
        Med ett bra antal hjältar och skurkar kan det faktiskt bli hyfsat intressant
        då det är mycket som slumpas fram som gör att varje uppdrag inte blir
        rikigt samma. Varje karaktär har fyra olika variabler som påverkar fighten.
        HP, Defense, DMG, Catch rate. Alla påverkar vem som vinner. HP är såklart
        livet och hur mycket DMG en karaktär kan ta emot innan de är besegrade.
        Defense är skydd som påverkar DMG som tas emot. Högre Defense, mindre DMG.
        DMG är då såklart skadan som görs. Catch rate är lite annorlunda då det
        är en chans för karaktären att fånga motståndaren, utan att behöva döda
        dem.<br><br>
        Men för att faktiskt starta en fight kan man klicka på mission namnet i
        listan för missions, och då kommer man till mission setup där man kan välja
        vilka hjältar som ska med. Trycker man sedan på "Start Fight" så börjar
        de slåss och servern redirectar till resultatet när det är klart. Resultatet
        visar stats alla karaktärer hade när uppdraget avslutades och vem som vann.
        Detta sparas också i databasen så man kan lätt komma tillbaka och se historiken
        senare. När resultatet är sparat försvinner uppdraget från missions, då
        det är avklarat och man ska inte kunna köra det igen.
        Mission och resultat innehåller också attribut, men mer om det i
        krav 5.</p>

        <h4>Krav 2</h4>

        <p>Jag utgick faktiskt från min me-sida i Flask vilket gjorde det mycket
        lättare att komma igång. DÅ hade jag Flask och Jinja2 redo och var bara
        tvungen att ändra runt för att anpassa till projektet. Jinja2 används bland
        annat till att skriva ut de olika tabellerna med hjältar, skurkar, uppdrag och
        resultat. Jag använder SQLAlchemy på samma sätt som i bondgårdsuppgiften
        för att jobba mot databasen blackops.sqlite. I controller klassen initieras
        databasen och en session skapas som används för att lägga till objekt i
        databasen.<br><br>
        Databasen innehåller fyra tabeller, Heroes, Villains, Missions, Results.
        Varje tabell innehåller viktigt data från objektet som ska sparas mellan
        sessioner. Bland annat sparar jag en sträng med hjältarna och skurarna
        för varje mission, så de kan hämtas senare på ett enkelt sätt.<br><br>
        För designen utgick jag från ett bootstrap tema jag hittade på bootswatch
        och modifierade det lite tills jag fick en snygg men enkel design. Det blev
        inga jättestora modifikationer på temat då jag kände att det inte behövdes.
        Färgerna som används är svart, röd och vit. Röd för det är oftast den
        färger jag förknippar med superhjätar och Marvel, och svart för att det är
        BlackOps. Tillsammans funkar de riktigt bra tycker jag. Den vita färgen
        används för att skapa kontrast då bakgrunden är svart. Som sagt, en enkel
        design men det var ett medvetet val. Personligen tycker jag inte en sida
        för BlackOps ska vara för "fancy". De bryr sig om funktionalitet, inte design.
        Så tänker jag i alla fall.</p>

        <h4>Krav 3</h4>

        <p>För att skapa klassdiagrammet användes draw.io. Jag gjorde ett diagram
        på alla mina klasser i projektet, så även dataklassen. Alla klasser är
        kopplade till Controller, och Heroes/Villains är även kopplade till Missions.
        Mina attribut och metoder är alla privata, så alla har ett plustecken. Jag
        skriver även vad varje attribut innehåller (sträng, int osv) och vad varje
        metod returnerar. Linjerna visar kopplingen mellan klasserna.<br><br>
        Jag skapade två filer för enhetstester, "characters-test.py" och "missions-test.py".
        Jag valde att slå ihop testerna för Heroes och Villains i en fil, då de är
        väldigt lika och det inte finns speciellt mycket att testa. Känns onödigt
        att testa alla samma grejer för båda typer av karaktärer. Vad jag förstod
        skulle vi inte använda Controller i testerna, så det är lite svårt att komma
        på vad som kan testas. Jag gjorde totalt 8 tester på karaktärerna, och 5
        tester på uppdragsklassen. Det är svårt att testa alla metoder i uppdrag
        då det är mycket som slumpas fram, så jag gjorde så många tester som jag
        kunde på det andra, utan att upprepa såklart.</p>

        <h4>Krav 4</h4>

        <p>Mina karaktärer kan representeras med små bilder. Detta kändes som ett
        udda krav då man själv skapar karaktärerna på hemsidan. Kanske var det
        meningen att alla hjältar skulle ha en bild och skurkar en annan. Men jag
        gjorde så att man kan välja själv vilken bild karaktären man skapar ska ha.
        Det var så jag tolkade kravet i alla fall. Men om man kör på studentservern
        måste filnamnet matcha en fil i images mappen. Den laddar inte upp några filer.<br><br>
        Jag skapade en ny kolumn för Heroes och Villains, som innehåller bilden
        för den karaktären. När man skapar en karaktär kan man bläddra efter bilder
        på sin dator och välja vad som ska representera karaktären. Filnamnet
        sparas och används sen för att ladda in bilden i tabellen. Om man inte
        väljer en bild så används en default ikon - det kollas med en if-sats när
        man lägger till en hjälte eller skurk.<br><br>
        Det var svårt att hitta bra bilder med rätt licens, men jag hittade några
        som bör vara gratis och lagliga att använda.</p>

        <h4>Krav 5</h4>

        <p>För varje uppdrag slumpas det fram några attribut (eller i vissa fall
        inga, då hur många attribut också slumpas). Jag höll de väldigt enkelt och
        skapade inte ny klass eller table i databasen för detta, även om det hade
        kanske varit bättre. Dock är det inget krav så jag hårdkodade några attribut
        och deras effekter direkt. Attributen sparas i Missions och när karaktärerna
        börjar slåss används en metod i Missions för att applicera effekterna på
        karaktärerna. Effekterna visas inte i mission setup utan man kan bara se
        vilka effekter/attribut som uppdraget har. Så det gäller att kolla tabellen
        som finns för alla attribut - där kan man se vad de gör och vilken karaktär
        de påverkar. Hade jag haft mer tid hade jag gjort en ny klass för attribut,
        men detta funkar också.<br><br>
        Attributen sparas också som en sträng i resultatet så man kan se i historiken
        vilka attribut som påverkade fighten.<br><br>
        I metoden som skapar effekterna från attributen görs en deepcopy på
        arrayerna med hjältar och skurkar. Effekterna ska bara påverka karaktärerna
        på uppdraget och inte annars, och ett bra sätt att göra detta på var att
        använda deepcopy - då är objekten inte länkade till samma som visas i t.ex.
        Heroes. Kopiorna används också för fighten.</p>

        <h4>Allmänt</h4>

        <p>Det gick relativt enkelt att komma igång med projektet, tack vare att
        jag kunde använda mig av lite kod från me-sidan. Det tog inte så lång tid
        att få rätt på hjältar och skurkar. Uppdragen var lite klurigare samt
        resultaten, men det löste egentligen sig utan några större problem.<br><br>
        Det jag hade problem med dock var ordningen i controller.py, då det blev
        väldigt stor och rörig. Fick till och med varning på validering att jag använde
        för många publika metoder vid något tillfälle. Nu i slutet flyttade jag runt
        en hel del kod för att göra det mycket renare och lättare att läsa. Det tog
        ganska lång tid men jag var inte nöjd med hur det var innan och nu är jag
        faktiskt riktigt nöjd med strukturen. Förutom app-filer, test-filer och
        klass-filerna har jag en base.py och table_functions.py. I base.py
        definierar jag bara Base (med declarative_base) så jag kan lätt importera
        det i andra filer. I table_functions.py har jag fyra funktioner som används
        för att skapa tables i heroes.html, villains.html, missions.html och history.html.
        Jag la dessa i en egen fil för att funktionerna är väldigt lika och de
        gjorde att det kändes lite rörigt i controller.py. Med dem i en separat fil
        blir koden mycket renare.
        <br><br>
        Dock har jag haft stora problem med studentservern. När jag försöker starta
        en fight får jag en error "A server error occurred.". Men det funkar hur bra som helst
        när jag kör lokalt. Det verkar hända när jag försöker prata med Missions klassen,
        och jag har ingen aning om varför. På andra delar i skriptet är det inga problem
        att prata med Missions, men när chosen_heroes() och battle() funktionerna i
        controller.py försöker, får jag errorn. Fungerar hur bra som helst på andra
        ställen i skriptet, men just det som körs när jag postar till setup_villains
        routen vill inte prata med Missions. Jag anser att detta är ett fel med
        studentservern och inte mitt skript, och lämnar in ändå... Om det måste
        kompletteras så får jag väl göra det...
        <br><br>
        Jag hade ganska många andra småproblem genom arbetet - för många för att
        lista upp här - men det var aldrig något som gjorde att jag riktigt körde fast.
        Utan det flöt på hyfsat bra under hela arbetets gång.
        <br><br>
        Projektet kändes hyfsat svårt och tog ganska lång tid. Jag satt kanske i
        tio dagar där jag jobbade minst 5-6 timmar om dagen, så runt 50-60 timmar
        tog det för mig. Men jag hade nog lätt kunnat lägga 20 timmar till för att
        finslipa och göra allting lite coolare. Dock är jag väldigt nöjd med vad
        jag gjort och det var ett mycket roligt projekt att jobba med. Jag kunde
        använda mig av kunskaper från tidigare kursmoment och där var aldrig något
        som jag kände att jag inte lärt mig under kursen. Projektet kändes alltså
        rimligt och bra för att avsluta denna kurs.</p>

        <h4>Feedback</h4>

        <p>Kursen har varit bra och lärorik. Det var kul och coolt att testa på
        hur man kan använda Python till webben. Det kändes också verkligen som en
        fortsättningskurs på den tidigare Python-kursen, vilket jag gillar. Dock
        skulle jag gärna vilja se riktiga uppgifter för uppdateringar av me-sida,
        istället för "bara gör nåt du känner för". Det är svårt att veta vad man
        ska göra och vad det finns för möjligheter - jag vill gärna ha en liten
        guide som säger vad jag ska göra, vad jag ska lära mig. Det är ju därför
        jag går programmet. Bondgårduppgiften var riktigt kul då vi faktiskt fick
        något att göra på me-sidan. Fler uppgifter som den hade varit bra.
        <br><br>
        Almänt är jag nöjd - tycker materialet har varit bra under kursen och vi
        har fått bra feedback och handledning. Genomgångarna har varit kanon, gillar
        verkligen det nya sättet ni kör nu. Det är speciellt bra när det visas
        hur något kan se ut när det är klart, det hjälper enormt mycket.<br><br>
        Mitt betyg på kursen blir 8/10 och jag hade absolut rekommenderat den
        till kompisar eller kollegor - om de redan kan the basics i Python.</p>

    </div>

{% include 'footer.html' %}
